
{extend name="base" /}
{block name="wrapper"}
<div id="page-wrapper" class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
                <div class="col-lg-4">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-success float-right">{$user['account']}</span>
                            <h5>当前用户</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{$user['nickname']}</h1>
                            <div class="stat-percent font-bold text-success"><i class="fa fa-bolt"></i></div>
                            <small>
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-info float-right">农历</span>
                            <h5>当前时间</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">{:date('Y-m-d',time())}</h1>
                            <div class="stat-percent font-bold text-info"><i class="fa fa-bolt"></i></div>
                            <small></small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <span class="label label-danger float-right">PHP7.2</span>
                            <h5>系统版本</h5>
                        </div>
                        <div class="ibox-content">
                            <h1 class="no-margins">2.0</h1>
                            <div class="stat-percent font-bold text-danger"><i class="fa fa-bolt"></i></div>
                            <small></small>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>服务器状态</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table class="table table-bordered">
                            <thead>
                            <tr>

                                <th>类型</th>
                                <th>参数</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td>ip</td>
                                <td>{$system['ip']}</td>
                            </tr>
                             <tr>

                                <td>系统版本</td>
                                <td>{$system['os']}</td>
                            </tr>
                            <tr>

                                <td>主机名称</td>
                                <td>{$system['host']}</td>

                            </tr>
                            <tr>

                                <td>运行环境</td>
                                <td>{$system['server']}</td>
                            </tr>
                            <tr>

                                <td>端口号码</td>
                                <td>{$system['port']}</td>
                            </tr>
                            <tr>

                                <td>数据库版本</td>
                                <td>{$system['mysql_ver']}</td>
                            </tr>
                            <tr>

                                <td>语言版本</td>
                                <td>{$system['php_ver']}</td>
                            </tr>
                            <tr>

                                <td>空间大小</td>
                                <td>{$system['total']} G</td>
                            </tr>
                            <tr>

                                <td>可用空间</td>
                                <td>{$system['free']} G</td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
            <strong>测试版</strong> 1.0
        </div>
        <div>
            <strong>Copyright</strong> HuPengCheng &copy; 2018-2019
        </div>
    </div>
</div>
{/block}
{/block}