{extend name="base" /}
{block name="wrapper"}
<div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
            <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                <div class="navbar-header">
                    <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    <form role="search" class="navbar-form-custom" method="post" action="#">
                        <div class="form-group">
                            <input type="text" placeholder="请输入搜索内容" class="form-control" name="top-search" id="top-search">
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="javascript:" onclick="logout()">
                            <i class="fa fa-sign-out"></i>注销
                        </a>
                    </li>
                </ul>

            </nav>
        </div>
        <div class="row wrapper border-bottom white-bg page-heading">
            <div class="col-lg-10">
                <h2>权限配置</h2>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{:url('admin/role/index')}">系统管理</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{:url('admin/role/index')}">角色管理</a>
                    </li>
                    <li class="breadcrumb-item active">
                        <strong>权限配置</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">

            </div>
        </div>


        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>权限配置</h5>
                                    <div class="ibox-tools">
                                        <button class="btn btn-default btn-sm" type="button" onclick="history.go(-1)"><i class="fa fa-reply"></i> 返回</button>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <form id="signupForm" method="post" action="{:url('admin/role/configsave',['id'=>$rid])}">
                                        <div class="form-group row ">
                                            <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">角色</label>
                                            <div class="col-sm-8"><input type="text" name="name" value="{$role['name']}" disabled="" class="form-control" placeholder="请输入角色名称"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row ">
                                            <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">规则</label>
                                            <div class="col-sm-8">
                                                <table class="table">
                                                    <thead>
                                                    <tr>
                                                        <th width="15%"><input type="checkbox" class="i-checks" name="checkid"></th>
                                                        <th width="15%">层级</th>
                                                        <th width="15%">ID</th>
                                                        <th width="15%">名称</th>
                                                        <th width="15%">规则</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="auth">
                                                        {volist name="auth" id="vo"}
                                                        <tr pid="{$vo.pid}" id="{$vo.id}"> 
                                                            <td>
                                                                <input type="checkbox" class="i-checks" name="auth_id[]" value="{$vo.id}" {php}if(in_array($vo['id'],explode(',',$role['auth']['auth_id']))) echo 'checked'{/php}>
                                                            </td>
                                                            <td><span class="bu" style="display:inline-block;float;left;width:30px;text-align:center;cursor:pointer;"><i class="fa fa-caret-right"></i></span>
                                                            </td>
                                                            <td>{$vo.id}</td>
                                                            <td>{$vo.name}</td>
                                                            <td>{$vo.permission}</td>
                                                        </tr>
                                                        {/volist}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row ">
                                            <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label"></label>
                                            <div class="col-sm-8"><button class="btn btn-primary " type="submit"><i class="fa fa-check"></i>&nbsp;提交</button></div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
            </div>

        </div>
        <div class="footer" >
            <div class="float-right">
                10GB of <strong>250GB</strong> Free.
            </div>
            <div>
                <strong>Copyright</strong> Example Company &copy; 2014-2018
            </div>
        </div>
    </div>
{/block}
{block name="js"}
<script>

    //当提交表单时触发函数
    $("#signupForm").submit(function (e) {
        //当点击提交按钮时阻止对表单的默认提交
        e.preventDefault();
        //获取表单数据
        var data = $("#signupForm").serializeArray();
        var url = $("#signupForm").attr('action');
        //获取表单提交地址
        $.ajax({
            type:'POST',
            dataType:"json",
            url:url,
            data:data,
            success:function(obj){
                if(obj.code == 1){
                    layer.msg(obj.msg,{icon: 6,time: 1000},function(){
                        window.location.replace("{:url('admin/role/index')}");
                    });

                } else {
                    layer.msg(obj.msg,{icon: 5,time: 1000});
                }
            }
        });

    });

        $('#auth > tr[pid != 0]').hide();

        // 栏目收缩
        $('.bu').on('click',function(){
            //获取按钮状态
            var flag = $(this).find('i').attr('class');
            var index = $(this).parents('tr').attr('id');
            if(flag == 'fa fa-caret-right') {
                // 改变按钮状态
                $(this).find('i').attr('class','fa fa-caret-down');

                // 展开子栏目
                $('tr[pid='+index+']').fadeIn('slow');
            } else {
                $(this).find('i').attr('class','fa fa-caret-right');
                // 收起子栏目
                hidecate(index);
            }
        })

        // 隐藏子栏目 pic父级元素id
        function hidecate(pid)
        {
            $('tr[pid='+pid+']').each(function(){
                hidecate($(this).attr('id'));
            })
            $('tr[pid='+pid+']').find('.block').find('i').attr('class','fa fa-caret-right');
            $('tr[pid='+pid+']').fadeOut('fast');
        }

        //展开
        function showKnow()
        {
            $('#know > tr[pid != 0]').fadeIn('slow');
            $('#know > tr > td> span').find('i').attr('class','fa fa-caret-down');
        }

        //隐藏
        function hideKnow()
        {
            $('#know > tr[pid != 0]').fadeOut('fast');
            $('#know > tr >td> span').find('i').attr('class','fa fa-caret-right');
        }

</script>
{/block}

{/block}