{extend name="base" /}
{block name="nav"}
<style type="text/css">
    .layui-upload-file {
        display: none
    }
</style>
<nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold">{$user['nickname']}</span>
                            <span class="text-muted text-xs block">{$user['account']}<b class="caret"></b></span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">

                            <li>
                                <a href="javascript:" onclick="logout()"><i class="fa fa-sign-out"></i>注销</a>
                            
                            </li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        NICE
                    </div>
                </li>
                <li>
                    <a href="{:url('admin/index/index')}"><i class="fa fa-th-large"></i> <span class="nav-label">后台主页</span></a>
                </li>
                <li>
                    <a href="{:url('admin/config/index')}"><i class="fa fa-gears"></i> <span class="nav-label">系统管理</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{:url('admin/config/index')}"><i class="fa fa-cog"></i>网站配置</a></li>
                        <li class="active"><a href="{:url('admin/user/index')}"><i class="fa fa-user"></i>用户管理</a></li>
                        <li><a href="{:url('admin/role/index')}"><i class="fa fa-bookmark"></i>角色管理</a></li>
                        <li><a href="{:url('admin/auth/index')}"><i class="fa fa-location-arrow"></i>规则配置</a></li>
                    </ul>
                </li>
                <li class="active">
                    <a href="{:url('admin/config/index')}"><i class="fa fa-paper-plane-o"></i> <span class="nav-label">功能管理</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li><a href="{:url('admin/cate/index')}"><i class="fa fa-bars"></i>栏目管理</a></li>
                        <li class="active">
                            <a href="#"><i class="fa fa-link"></i>友情链接<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse" aria-expanded="false">
                                <li class="{eq name='$type' value='1'}active{/eq}">
                                    <a href="{:url('admin/link/text')}"><i class="fa fa-caret-right"></i>文字链接</a>
                                </li>
                                <li class="{eq name='$type' value='2'}active{/eq}">
                                    <a href="{:url('admin/link/image')}"><i class="fa fa-caret-right"></i>图片链接</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                </li>
                <li>
                    <a href="{:url('admin/config/index')}"><i class="fa fa-pencil"></i> <span class="nav-label">内容管理</span> <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        {volist name="cate" id="vo"}
                        {eq name="$vo['pid']" value="0" }
                        <li>
                            <a href="#" id="damian">{$vo['name']}<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse" aria-expanded="false">
                                {volist name="cate" id="ve"}
                                {if condition="($ve['pid'] == $vo['id']) "}
                                <li>
                                    <a href="{:url('admin/Article/index',['cid'=>$ve['id']])}">{$ve['name']}</a>
                                </li>
                                {/if}
                                {/volist}
                            </ul>
                        </li>
                        {/eq}

                        {/volist}
                    </ul>
                </li>

            </ul>

        </div>
</nav>
{/block}
{block name="wrapper"}
<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <form role="#" class="navbar-form-custom" method="post" action="#">
                    <div class="form-group">
                        <input type="text" placeholder="请输入搜索内容" class="form-control" name="top-search" id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="javascript:" onclick="logout()">
                        <i class="fa fa-sign-out"></i>注销
                    </a>
                </li>
            </ul>

        </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>链接编辑</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{:url('admin/user/index')}">功能管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{:url('admin/user/index')}">友情链接</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>链接编辑</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>


    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-title">
                                <h5>链接添加</h5>
                                <div class="ibox-tools">
                                    <button class="btn btn-default btn-sm" type="button" onclick="history.go(-1)"><i class="fa fa-reply"></i> 返回</button>
                                </div>
                            </div>
                            <div class="ibox-content">
                                <form id="signupForm" method="post" action="{:url('admin/link/update',['id'=>$link['id']])}">
                                    <div class="form-group row ">
                                        <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">链接名称</label>
                                        <div class="col-sm-8"><input type="text" name="name" value="{$link['name']}" class="form-control" placeholder="请输入链接名称"></div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row ">
                                        <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">链接地址</label>
                                        <div class="col-sm-8"><input type="text" name="url" class="form-control" value="{$link['url']}" placeholder="请输入链接地址"></div>
                                    </div>
                                    {eq name="$type" value="2"}
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row ">
                                        <label class="col-sm-1 col-form-label"></label><label
                                            class="col-sm-1 col-form-label">标题图</label>
                                         <div class="col-sm-8">
                                            {if condition="(!empty($link['pic']))"}
                                                <button disabled="" class="btn btn-primary " type="button" id="upload"><i class="fa fa-upload"></i>&nbsp;&nbsp;选择图片
                                                </button>
                                                <input type="hidden" value="{$link['pic']}" name="pic" id="pic">
                                            {else /}
                                                <button  class="btn btn-primary " type="button" id="upload"><i class="fa fa-upload"></i>&nbsp;&nbsp;选择图片
                                                </button>
                                                <input type="hidden" value="" name="pic" id="pic">
                                            {/if}
                                            <div class="show" style="margin:20px 0">
                                                {if condition="(!empty($link['pic']))"}
                                                    <div style='border:1px solid #ddd;padding:2px;width:100px;height:100px;'><img src="{$link['pic']}" width="95" height='95'></div><button type='button' style='width:100px;margin-top:5px;' class='btn btn-danger btn-xs' onclick="del(this,'{$link.pic}')"><i class='fa fa-trash'></i></button>
                                                {/if}
                                            </div>
                                        </div>
                                    </div>
                                    {/eq}
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row ">
                                        <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">规则状态</label>
                                        <div class="radio radio-success radio-inline" style="padding-top:16px;">
                                            <input name="status" type="radio" id="inlineRadio1" value="1" name="radioInline"
                                                   {$link['status'] ? 'checked' : '' }>
                                            <label for="inlineRadio1"> 开启</label>
                                        </div>
                                        <div class="radio radio-danger radio-inline" style="padding-top:16px;">
                                            <input name="status" type="radio" id="inlineRadio2" value="0" name="radioInline"
                                                   {$link['status'] ? '' : 'checked' }>
                                            <label for="inlineRadio2"> 关闭 </label>
                                        </div>
                                    </div>
                                    <div class="hr-line-dashed"></div>
                                    {:token()}
                                    <div class="form-group row ">
                                        <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label"></label>
                                        <div class="col-sm-8"><button class="btn btn-primary " type="submit"><i class="fa fa-check"></i>&nbsp;提交</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
        </div>

    </div>
    <div class="footer" >
        <div class="float-right">
            <strong>测试版</strong> 1.0
        </div>
        <div>
            <strong>Copyright</strong> 胡鹏成 &copy; 2014-2018
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>
    //layui文件上传实例化
    layui.use('upload', function () {
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            , url: '/admin/file/upload' //上传接口
            , done: function (res) {
                //上传完毕回调
                if (res.code == 1) {
                    layer.msg(res.msg, {
                        icon: 6,
                        time: 1000
                    }, function () {
                        var img = "<div style='border:1px solid #ddd;padding:2px;width:100px;height:100px;'><img width='95' height='95' src='"+res.path+"'></div><button type='button' style='width:100px;margin-top:5px;' class='btn btn-danger btn-xs' onclick=\"del(this,'"+res.path+"')\"><i class='fa fa-trash'></i></button>";
                        $('#upload').attr('disabled', 'true');
                        $(".show").append(img);
                        $('#pic').val(res.path);
                    });
                }


            }
            , error: function () {
                layer.msg('上传异常', {
                    icon: 5,
                    time: 1000
                });
            }
        });
    });

    //图片删除
    function del(obb, path) {
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "{:url('admin/file/delete')}",
            data: {'path': path},
            success: function (obj) {
                if (obj.code == 1) {
                    $('#upload').attr('disabled', false);
                    $('#pic').val('');
                    $(obb).parent().empty()
                    layer.msg(obj.msg, {
                        icon: 6,
                        time: 1000
                    });

                } else {
                    layer.msg(obj.msg, {
                        icon: 5,
                        time: 1000
                    });
                }
            }
        });
    }

    $("#type").change(function(){
        var type = $(this).val();
        alert(type);
    })

    //当提交表单时触发函数
    $("#signupForm").submit(function (e) {
        //当点击提交按钮时阻止对表单的默认提交
        e.preventDefault();
        //获取表单数据
        var data = $("#signupForm").serializeArray();
        var url = $("#signupForm").attr('action');
        var type = {$type};
        //获取表单提交地址
        $.ajax({
            type:'POST',
            dataType:"json",
            url:url,
            data:data,
            success:function(obj){
                if(obj.code == 1){
                    layer.msg(obj.msg,{icon: 6,time: 1000},function(){
                        if (type == 1) {
                            window.location.href = "{:url('admin/link/text')}";
                        } else {
                            window.location.href = "{:url('admin/link/image')}";
                        }
                        
                    });

                } else {
                    layer.msg(obj.msg,{icon: 5,time: 10000});
                }
            }
        });

    });
</script>
{/block}

{/block}