{extend name="base" /}
{block name="wrapper"}
<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <form role="search" class="navbar-form-custom" method="get" action="/">
                    <div class="form-group">
                        <input type="text" placeholder="请输入搜索内容" class="form-control" name="top-search" id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="javascript:" onclick="logout()">
                        <i class="fa fa-sign-out"></i>注销
                    </a>
                </li>
            </ul>

        </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>用户编辑</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{:url('admin/user/index')}">系统管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{:url('admin/user/index')}">用户管理</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>用户编辑</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>


    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>用户编辑</h5>
                        <div class="ibox-tools">
                            <button class="btn btn-default btn-sm" type="button" onclick="history.go(-1)"><i
                                    class="fa fa-reply"></i> 返回
                            </button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="signupForm" method="post"
                              action="{:url('admin/user/update',['id'=>$data['id']])}">
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label
                                    class="col-sm-1 col-form-label">账号</label>
                                <div class="col-sm-8"><input type="text" name="account" disabled=""
                                                             value="{$data['account']}" class="form-control"
                                                             placeholder="请输入账号"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label
                                    class="col-sm-1 col-form-label">标题图</label>
                                <div class="col-sm-8">
                                    {if condition="(!empty($data['pic']))"}
                                    <button disabled="" class="btn btn-primary " type="button" id="upload"><i
                                            class="fa fa-upload"></i>&nbsp;&nbsp;选择图片
                                    </button>
                                    <input type="hidden" value="{$data['pic']}" name="pic" id="pic">
                                    {else /}
                                    <button class="btn btn-primary " type="button" id="upload"><i
                                            class="fa fa-upload"></i>&nbsp;&nbsp;选择图片
                                    </button>
                                    <input type="hidden" value="" name="pic" id="pic">
                                    {/if}
                                    <div class="show" style="margin:20px 0">
                                        {if condition="(!empty($data['pic']))"}
                                        <div style='border:1px solid #ddd;padding:2px;width:100px;height:100px;'><img
                                                src="{$data['pic']}" width="95" height='95'></div>
                                        <button type='button' style='width:100px;margin-top:5px;'
                                                class='btn btn-danger btn-xs' onclick="del(this,'{$data.pic}')"><i
                                                class='fa fa-trash'></i></button>
                                        {/if}
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label
                                    class="col-sm-1 col-form-label">昵称</label>
                                <div class="col-sm-8"><input type="text" name="nickname" value="{$data['nickname']}"
                                                             class="form-control" placeholder="请输入昵称"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">旧密码</label>
                                <div class="col-sm-8"><input type="password" name="passwords" id="password"
                                                             class="form-control" placeholder="请输入旧密码（空白则不修改密码）"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">新密码</label>
                                <div class="col-sm-8"><input type="password" name="password" class="form-control"
                                                             placeholder="请输入新密码（空白则不修改密码）"></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label
                                    class="col-sm-1 col-form-label">手机</label>
                                <div class="col-sm-8"><input type="text" name="phone" value="{$data['phone']}"
                                                             class="form-control" placeholder="请填写11位的手机号"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">

                                <label class="col-sm-1 col-form-label"></label><label
                                    class="col-sm-1 col-form-label">角色</label>
                                <div class="col-sm-8">
                                    {volist name="role" id="vo"}
                                    <div class="checkbox checkbox-success checkbox-inline">
                                        <input type="checkbox" name="role[]" id="inlineCheckbox{$vo['id']}"
                                               value="{$vo['id']}" {php}if(in_array($vo['id'],explode(',',$data['role']['role_id'])))
                                        echo 'checked' {/php}>
                                        <label for="inlineCheckbox{$vo['id']}"> {$vo['name']} </label>
                                    </div>
                                    {/volist}
                                </div>
                            </div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label
                                    class="col-sm-1 col-form-label">邮箱</label>
                                <div class="col-sm-8"><input type="text" name="email" value="{$data['email']}"
                                                             class="form-control" placeholder="请输入邮箱"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">规则状态</label>
                                <div class="radio radio-success radio-inline" style="padding-top:16px;">
                                    <input name="status" type="radio" id="inlineRadio1" value="1" name="radioInline"
                                           {$data['status'] ? 'checked' : '' }>
                                    <label for="inlineRadio1"> 开启</label>
                                </div>
                                <div class="radio radio-danger radio-inline" style="padding-top:16px;">
                                    <input name="status" type="radio" id="inlineRadio2" value="0" name="radioInline"
                                           {$data['status'] ? '' : 'checked' }>
                                    <label for="inlineRadio2"> 关闭 </label>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {:token()}
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label
                                    class="col-sm-1 col-form-label"></label>
                                <div class="col-sm-8">
                                    <button class="btn btn-primary " type="submit"><i class="fa fa-check"></i>&nbsp;提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        <div class="float-right">
            <strong>测试版</strong> 1.0
        </div>
        <div>
            <strong>Copyright</strong> 胡鹏成 &copy; 2014-2018
        </div>
    </div>

</div>
{/block}
{block name="js"}
<script>
    //layui文件上传实例化
    layui.use('upload', function () {
        var upload = layui.upload;

        //执行实例
        var uploadInst = upload.render({
            elem: '#upload' //绑定元素
            , url: "{:url('admin/file/upload')}" //上传接口
            , done: function (res) {
                //上传完毕回调
                if (res.code == 1) {
                    layer.msg(res.msg, {
                        icon: 6,
                        time: 1000
                    }, function () {
                        var img = "<div style='border:1px solid #ddd;padding:2px;width:100px;height:100px;'><img width='95' height='95' src='" + res.path + "'></div><button type='button' style='width:100px;margin-top:5px;' class='btn btn-danger btn-xs' onclick=\"del(this,'" + res.path + "')\"><i class='fa fa-trash'></i></button>";
                        $('#upload').attr('disabled', 'true');
                        $(".show").append(img);
                        $('#pic').val(res.path);
                    });
                }


            }
            , error: function () {
                layer.msg('上传异常', {
                    icon: 5,
                    time: 1000
                });
            }
        });
    });

    //图片删除
    function del(obb, path) {
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "{:url('admin/file/delete')}",
            data: {'path': path},
            success: function (obj) {
                if (obj.code == 1) {
                    $('#upload').attr('disabled', false);
                    $('#pic').val('');
                    $(obb).parent().empty()
                    layer.msg(obj.msg, {
                        icon: 6,
                        time: 1000
                    });

                } else {
                    layer.msg(obj.msg, {
                        icon: 5,
                        time: 1000
                    });
                }
            }
        });
    }

    //当提交表单时触发函数
    $("#signupForm").submit(function (e) {
        //当点击提交按钮时阻止对表单的默认提交
        e.preventDefault();
        //获取表单数据
        var data = $("#signupForm").serializeArray();
        var url = $("#signupForm").attr('action');
        //获取表单提交地址
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: url,
            data: data,
            success: function (obj) {
                if (obj.code == 1) {
                    layer.msg(obj.msg, {icon: 6, time: 1000}, function () {
                        window.location.href = "{:url('admin/user/index')}";
                    });

                } else {
                    layer.msg(obj.msg, {icon: 5, time: 1000}, function () {
                    });
                }
            }
        });

    });

</script>
{/block}

{/block}