{extend name="base" /}
{block name="wrapper"}
<div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                <form role="search" class="navbar-form-custom" method="get" action="/">
                    <div class="form-group">
                        <input type="text" placeholder="请输入搜索内容" class="form-control" name="top-search" id="top-search">
                    </div>
                </form>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="javascript:" onclick="logout()">
                        <i class="fa fa-sign-out"></i>注销
                    </a>
                </li>
            </ul>

        </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>栏目添加</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{:url('admin/cate/index')}">系统管理</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{:url('admin/cate/index')}">栏目管理</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>栏目添加</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>栏目添加</h5>
                        <div class="ibox-tools">
                            <button class="btn btn-default btn-sm" type="button" onclick="history.go(-1)"><i
                                    class="fa fa-reply"></i> 返回
                            </button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <form id="signupForm" method="post" action="{:url('admin/cate/save')}">

                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">所属上级</label>
                                <div class="col-sm-8">
                                    <select name="pid" id="pid" class="form-control m-b">
                                        <option value="0">无</option>
                                        {volist name="data" id="vo"}
                                        <option value="{$vo.id}">{$vo.name}</option>
                                        {/volist}
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">栏目类型</label>
                                <div class="col-sm-8">
                                    <select name="type" class="form-control m-b">
                                        <option value="1">单页</option>
                                        <option value="2">列表</option>
                                        <option value="3">图片</option>
                                    </select>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">栏目名称</label>
                                <div class="col-sm-8"><input type="text" name="name" class="form-control"
                                                             placeholder="请输入栏目名称"></div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">栏目描述</label>
                                <div class="col-sm-8">
                                <textarea class="col-sm-12" style="height:80px;" name="description" placeholder="请输入栏目描述"></textarea>
                                </div>
                            </div>
                            

                            <div class="hr-line-dashed"></div>
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label class="col-sm-1 col-form-label">栏目状态</label>
                                <div class="radio radio-success radio-inline" style="padding-top:16px;">
                                    <input name="status" type="radio" id="inlineRadio1" value="1" checked>
                                    <label for="inlineRadio1"> 开启</label>
                                </div>
                                <div class="radio radio-danger radio-inline" style="padding-top:16px;">
                                    <input name="status" type="radio" id="inlineRadio2" value="0">
                                    <label for="inlineRadio2"> 关闭 </label>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            {:token()}
                            <div class="form-group row ">
                                <label class="col-sm-1 col-form-label"></label><label
                                    class="col-sm-1 col-form-label"></label>
                                <div class="col-sm-8">
                                    <button class="btn btn-primary " type="submit"><i class="fa fa-check"></i>&nbsp;提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="float-right">
            <strong>测试版</strong> 1.0
        </div>
        <div>
            <strong>Copyright</strong> 胡鹏成 &copy; 2014-2018
        </div>
    </div>
</div>
{/block}
{block name="js"}
<script>


    //当提交表单时触发函数
    $("#signupForm").submit(function (e) {
        //当点击提交按钮时阻止对表单的默认提交
        e.preventDefault();
        //获取表单数据
        var data = $("#signupForm").serializeArray();
        var url = $("#signupForm").attr('action');
        //获取表单提交地址
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: url,
            data: data,
            success: function (obj) {
                console.log(obj);
                if (obj.code == 1) {
                    layer.msg(obj.msg, {icon: 6, time: 1000}, function () {
                        window.location.href = "{:url('admin/cate/index')}";
                    });

                } else {
                    layer.msg(obj.msg, {icon: 5, time: 1000});
                }
            }
        });

    });

</script>
{/block}

{/block}